.navBar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.buttonnav,
.buttonnavLight {
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: 1.25rem;
  padding: 8px 24px;
}

.buttonnav:hover,
.buttonnavLight:hover {
  color: #eb5e28;
}

.buttonHome {
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: 2rem;
  margin: 3px;
  letter-spacing: 5px;
}

button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .buttonHome {
    margin-left: 20px;
  }
  .buttonnavLight {
    display: none;
  }
}
