@media screen and (max-width: 820px) {
  .social {
    position: absolute;
    right: 20px;
  }

  .social a:link,
  .social a:visited,
  .social a:hover,
  .social a:active {
    text-decoration: none;
  }
}
